<!DOCTYPE html>
<html>
<head>
  <title>Railslist</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Brags List</h1>
  <nav>
    <% if !current_user %>
      <%= link_to "Register", signup_path %> |
      <%= link_to "Login", login_path %>
    <% else %>
      Welcome, <%= link_to "#{current_user.email}", controller: "users", action: "create" %>
      <%= link_to "Logout", logout_path %>
    <% end %>
  </nav>
  </header>
  <% if current_user %>
    <%= link_to "Add A New Category", controller: "categories", action: "new" %>
  <% end %>

<%= yield %>

</body>
</html>
